*{
    
    margin: 0;
  
}
.nav{
    background-color: #ffffff;
}
.dote{
    color:#0ea2bd;
    font-weight: 900;
}

.logo{
    font-size: 32px;
    font-weight: 300;
    top: 12px;
    padding: 15px 0 0px 63px;
    top: 34px;
    color:#485664 ;
}
.navb{
    margin-left: 367px;
    display: flex;
}
    
.navbi{
  
    list-style:none;
    position: relative;
    font-size: 19px;
    font-weight: 400;
    top: -19px;
    padding-left: 55px;
    color:#485664;
}


.navbi:hover{
    color:#0ea2bd;
    width: 20px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    
}

.buttons{
    background: #0ea2bd;
    border: 2px solid #0ea2bd;
    position: relative;
    font-size: 19px;    
    top: -19px;   
    color:#ffffff;     
    padding: 8px 23px;
    border-radius: 4px;
    transition: 0.3s;
    margin-left: 317px;
}
.ie{
    width: 100%;
    height: 845px;
    background-size: cover;
    position: relative;
    padding: 120px 0 60px;
}
.containerf{
    background-image: url("assets/s");
}



